.Post {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.Post .new_comment {
  display: flex;
  flex-direction: column;
}

.Post .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Post .likes {
  display: flex;
  justify-content: flex-end;
}
